<div class="p-6 space-y-4">
  <div class="flex items-center justify-between">
    <app-branch-selector
      [branches]="branches"
      [currentBranch]="currentBranch"
      (branchChange)="onBranchChange($event)"
      [canCreate]="true"
    ></app-branch-selector>
    <button mat-raised-button color="primary" (click)="openCommitDialog()">
      Commit
    </button>
  </div>
  <textarea
    class="border w-full h-64"
    [(ngModel)]="body"
    placeholder="Contract text..."
  ></textarea>
</div>
